<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>All-In-One (HR)</title>
    <!-- <link rel="icon" type="image/x-icon" href="../img/favicon.ico" /> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- Datatables for table styling -->
    <link
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"
      rel="stylesheet"
    />

    <!-- Datatables JS scripts -->
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
      defer
      src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"
    ></script>
    <script
      defer
      src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"
    ></script>
  </head>

  <body>
    <div id="app">

      <!-- NAVBAR-->
      <nav
        class="navbar navbar-light navbar-expand-lg bg-body-secondary"
        style="background-color: #e3f2fd"
      >
        <div class="container-fluid">
          <!-- Shows account type -->
          <a class="navbar-brand" href="manageRoles.html"
            >All-In-One (HR)</a
          >

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- Navbar tabs for HR -->

              <!-- Manage Roles tab -->
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="manageRoles.html"
                  >Manage Roles</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Manage Candidates</a>
              </li>
            </ul>

            <!-- Switches between account types -->
            <button
              class="btn btn-outline-primary"
              onclick=""
            >
              Switch to Staff View (for demo purpose)
            </button>
          </div>
        </div>
      </nav>

      <!-- HEADER -->
      <div class="container-fluid my-4">
        
        <h2>{{header}}</h2>
        <a class="btn btn-primary" href="" role="button">Link</a>
      </div>

      <!-- SEARCH -->


      <!-- FORM -->
      <div class="container">
            <form>
                <div class="row">
                <!-- Text input (jobTitle) -->
                <div class="mb-3 col-lg-6">
                    <label for="jobTitle" class="form-label">Job Title</label>
                    <input v-model="openRoles[0].jobTitle" class="form-control" id="jobTitle" name="jobTitle" placeholder="Enter title">
                </div>

                <!-- Select input (workArrangement) -->
                <div class="mb-3 col-lg-6">
                    <label for="workArrangement" class="form-label">Work Arrangement</label>
                    <select v-model="openRoles[0].workArrangement" class="form-select" id="workArrangement" name="workArrangement">
                        <option v-for="(work, key) in workArrangements" :value="work">{{key}}
                        </option>
                    </select>
                </div>

                <!-- Select input (department) -->
                <div class="mb-3 col-lg-6">
                    <label for="department" class="form-label">Select Department</label>
                    <select v-model="openRoles[0].department" class="form-select" id="department" name="department">
                        <option v-for="(department, key) in departments" :value="department[0]">{{key}}
                        </option>
                    </select>
                </div>

                <!-- Select input (hiringManager) -->
                <div class="mb-3 col-lg-6">
                    <label for="hiringManager" class="form-label">Select Hiring Manager</label>
                    <select v-model="openRoles[0].hiringManager" class="form-select" id="hiringManager" name="hiringManager">
                        <option v-for="(department, key) in departments" :value="department[2]">{{department[1]}}
                        </option>
                    </select>
                </div>

                <!-- Number input (vacancy) -->
                <div class="mb-3 col-lg-6">
                    <label for="vacancy" class="form-label">Vacancy</label>
                    <input type="number" v-model="openRoles[0].vacancy" class="form-control" id="vacancy" name="vacancy" placeholder="Enter vacancy">
                </div>

                <!-- Date picker -->

                <!-- Skills Required -->
    
                <!-- Textarea (description) -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea v-model="openRoles[0].description" class="form-control" id="description" name="description" rows="4" placeholder="Enter description"></textarea>
                </div>
            
                  <!-- Submit button -->
                  <div class="container">
                    <button @click="showInputs" class="btn btn-primary me-2">Submit</button>
                    <!-- <button type="submit" class="btn btn-outline-danger">Cancel</button> -->
                  </div>
                </div>

            </form>

        </div>

      </div>
      </div>



    
    </div>
      </div>
    </div>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            // Header
            header: "Create Role",

            // Departments & Hiring Managers
            departments : {
                'Sales': ['sales', 'Derek Tan', 'derek-tan'],
                'Consultancy Division': ['consultancy-div', 'Ernest Sim', 'ernest-sim'],
                'System Solutioning': ['system-solutioning', 'Eric Loh', 'eric-loh'],
                'Enginnering Operation Division': ['engineering-operation-div', 'Philip Lee', 'philip-lee'],
                'HR and Admin': ['hr-and-admin', 'Sally Loh', 'sally-loh'],
                'Finance': ['finance', 'David Yap', 'david-yap'],
                'IT': ['it', 'Peter Yap', 'peter-yap']
            },

                
            // Work Arrangements
            workArrangements: {
                'Part-time': 'part-time',
                'Full-time': 'full-time',
            },


            // openRoles
            openRoles: [
            {
              roleID: 0,
              jobTitle: "",
              skillsRequired: [],
              department: "",
              hiringManager: "",
              expiryDate: "",
              workArrangement: "",
              vacancy: 0,
              creationDate: "",
              location: "",
              description: ''
            },
          ],
          };
        },

        methods: {

          showInputs(){
            // const roleID = this.openRoles[0].roleID;
            const roleID = this.departments
            // Log the roleID to the console
            console.log('Role ID:', roleID);
          }
      }
    });
      app.mount("#app");
    </script>

    <!-- Bootstrap Bundle -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>