name: Laravel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.0'

    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"

    - name: Composer Install
      run: composer install || composer update
      continue-on-error: true  # Continue even if the command fails

    - name: Generate key
      run: cd role-skill-match-app || php artisan key:generate
    - uses: mirromutth/mysql-action@v1.1
      with:
        mysql database: 'test' # Optional, default value is "test". The specified database which will be create
        mysql root password: '' # Required if "mysql user" is empty, default is empty. The root superuser password
        mysql user: 'root' # Required if "mysql root password" is empty, default is empty. The superuser for the specified database. Can use secrets, too
        mysql password: 'root' # Required if "mysql user" exists. The password for the "mysql user"

    - name: Directory Permissions
      run: cd role-skill-match-app || chmod -R 777 storage bootstrap/cache

    - name: PHPUnit Tests
      uses: php-actions/phpunit@v3
      env:
        XDEBUG_MODE: coverage
      with:
        bootstrap: vendor/autoload.php
        configuration: role-skill-match-app/phpunit.xml
        php_extensions: xdebug
        args: tests --coverage-clover ./coverage.xml

    - name: laravel-pint
      uses: aglipanci/laravel-pint-action@0.1.0
      with:
        preset: laravel

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: PHP Linting (Pint)
        skip_fetch: true

